.advantages {
  background: $color-light-blue url("../img/background-images/advantagest-background.png") no-repeat center / cover;
  padding: 110px 0 120px;
  margin-bottom: 110px;

  @media (min-resolution: 2dppx) and (min-width: $desktop-only) {
    background-image: url("../img/background-images/advantagest-background@2x.png");
  }

  @media (max-width: $tablet-width) {
    padding: 88px 0 99px;
    margin-bottom: 91px;
  }

  @media (max-width: $mobile-width) {
    padding: 55px 0 66px;
    margin-bottom: 58px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (max-width: $tablet-width) {
    gap: 30px;
  }
}

.advantages h2 {
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
  text-align: center;
  color: $color-default-black;
  margin: 0;
  margin-bottom: 48px;

  @media (max-width: $tablet-width) {
    font-size: 26px;
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 31px;
  }
}

.advantages__item {
  position: relative;
  background-color: $color-default-white;
  padding: 80px 10px 10px 30px;
  width: 360px;
  min-height: 241px;

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 40px;
    background: url("../img/svg/ship-icon-desktop.svg") no-repeat;
    top: 30px;
    left: 30px;

    @media (max-width: $tablet-width) {
      background-image: url("../img/svg/ship-icon.svg");
      top: 25px;
      left: 20px;
    }
  }

  &--check {
    &::before {
      background-image: url("../img/svg/check-icon-desktop.svg");
      top: 35px;

      @media (max-width: $tablet-width) {
        background-image: url("../img/svg/check-icon.svg");
        top: 29px;
        left: 20px;
      }
    }
  }

  &--boat {
    &::before {
      background-image: url("../img/svg/boat-icon-desktop.svg");
      top: 38px;

      @media (max-width: $tablet-width) {
        background-image: url("../img/svg/boat-icon.svg");
        top: 32px;
      }
    }
  }

  @media (max-width: $tablet-width) {
    width: 206px;
    min-height: 310px;
    padding: 70px 10px 10px 20px;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
    min-height: 249px;
    padding-top: 71px;
  }
}

.advantages__item h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: $color-default-black;
  margin: 0;
  margin-bottom: 10px;

  @media (max-width: $tablet-width) {
    line-height: 25px;
  }
}

.advantages__item--check h3 {
  @media (max-width: $mobile-width) {
    width: 133px;
    margin-bottom: 9px;
  }
}

.advantages__item--boat h3 {
  @media (max-width: $mobile-width) {
    width: 151px;
  }
}

.advantages__item p {
  font-size: 14px;
  line-height: 20px;
  color: $color-default-black;
  margin: 0;
}

.advantages__item-text-wrap-tablet {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.advantages__item--check-text-wrap-desktop {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.advantages__item--check p {
  width: 280px;

  @media (max-width: $tablet-width) {
    width: 162px;
  }

  @media (max-width: $mobile-width) {
    width: 223px;
  }
}

.advantages__item--boat p {
  width: 241px;

  @media (max-width: $tablet-width) {
    width: 167px;
  }

  @media (max-width: $mobile-width) {
    width: 233px;
  }
}

.advantages__item--boat-text-wrap-mobile {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
  }
}
