.booking {
  background: $color-light-blue url("../img/background-images/booking-background-desktop.jpg") no-repeat center / cover;
  min-height: 555px;
  margin-bottom: 120px;

  @media (min-resolution: 2dppx) and (min-width: $desktop-only) {
    background-image: url("../img/background-images/booking-background-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 100px;
    padding: 88px 0;
    min-height: 805px;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../../img/background-images/booking-background-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-images/booking-background-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 58px;
    min-height: 760px;
    padding: 59px 0;
    background-image: url("../../img/background-images/booking-background-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-images/booking-background-mobile@2x.jpg");
    }
  }
}

.booking-wrapper {
  padding: 50px 163px;
  width: 1040px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: $color-default-black;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.booking__text-wrapper {
  padding-top: 163px;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }
}

.booking__text-wrapper h2 {
  margin: 0;
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
  margin-bottom: 8px;

  @media (max-width: $tablet-width) {
    font-size: 34px;
    line-height: 51px;
    margin-bottom: 5px;
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    margin-bottom: 14px;
  }
}

.booking__text-wrapper p {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  width: 360px;

  @media (max-width: $tablet-width) {
    text-align: center;
    margin-bottom: 52px;
  }

  @media (max-width: $mobile-width) {
    width: auto;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 34px;
  }
}

.booking__text-wrapper br {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.booking form {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 403px;
  min-height: 455px;
  padding: 44px 50px 50px;
  background-color: $color-default-black;
  color: $color-default-white;
  flex-shrink: 0;

  @media (max-width: $tablet-width) {
    align-self: center;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
    min-height: 460px;
    padding: 35px 30px;
  }
}

.booking__form-text-wrapper {
  margin-bottom: 26px;

  @media (max-width: $mobile-width) {
    margin-bottom: 27px;
  }
}

.booking__form-text-wrapper p {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;

  @media (max-width: $mobile-width) {
    text-align: center;
    line-height: 25px;
  }
}

.booking__form-input-container {
  margin-bottom: 18px;
}

.booking__form-input-container--email {
  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

.booking__form-input-container--checkbox {
  margin-top: -2px;
  margin-bottom: 30px;

  @media (max-width: $mobile-width) {
    margin-bottom: 27px;
  }
}

.booking__form-input-container input:not(input[type="checkbox"]) {
  width: 303px;
  min-height: 35px;
  padding: 10px 14px;
  font-size: 14px;
  line-height: 21px;

  @media (max-width: $mobile-width) {
    width: 230px;
    min-height: 43px;
  }
}

.booking__form-input-container--checkbox input {
  margin: 18px 0 0 5px;
}

.booking__form-input-container--checkbox label {
  font-size: 10px;
  line-height: 13px;
  position: relative;
  padding-left: 23px;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    line-height: 12px;
    padding-left: 28px;
    display: block;
    width: 180px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: $color-default-white;
    top: -4px;
    left: 0;

    @media (max-width: $mobile-width) {
      width: 20px;
      height: 20px;
      top: 2px;
    }
  }
}

.booking__form-input-container--checkbox input:checked + label {
  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 8px;
    background: url("../img/svg/checked-checkbox.svg") no-repeat;
    top: 1px;
    left: 2px;

    @media (max-width: $mobile-width) {
      top: 8px;
      left: 4px;
    }
  }
}

.booking__form-button {
  margin-top: auto;
  border: none;
  background-color: $color-default-white;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  width: 303px;
  min-height: 43px;
  cursor: pointer;
}
