.contacts {
  margin-bottom: 120px;

  @media (max-width: $tablet-width) {
    margin-bottom: 100px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 65px;
  }
}

.contacts__wrapper {
  display: flex;
  gap: 100px;
  color: $color-default-black;

  @media (max-width: $tablet-width) {
    gap: 30px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column-reverse;
    gap: 43px;
  }
}

.contacts__map {
  width: 560px;
  min-height: 306px;
  background: url("../img/background-images/map-desktop.png") no-repeat;

  @media (max-width: $tablet-width) {
    width: 324px;
    min-height: 335px;
    background-image: url("../img/background-images/map-tablet.png");
  }

  @media (max-width: $mobile-width) {
    width: 290px;
    min-height: 316px;
    background-image: url("../img/background-images/map-mobile.png");
  }
}

.contacts__map iframe {
  border: none;

  @media (max-width: $tablet-width) {
    width: 324px;
    height: 335px;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
    height: 316px;
  }
}

.contacts__text {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.contacts__text h3 {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  margin-bottom: 40px;
}

.contacts__text p {
  margin: 0;
  position: relative;
  padding-left: 28px;
  font-size: 16px;
  line-height: 24px;

  &::before {
    content: "";
    position: absolute;
    background: url("../img/svg/address-icon.svg") no-repeat;
    top: 0;
    left: 0;
    width: 18px;
    height: 22px;
  }
}

.contacts__text-address {
  margin-bottom: 33px;
}

.contacts__text-phone p::before {
  background-image: url("../img/svg/phone-icon.svg");
}
