.page {
  height: 100%;
}

.page__body {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 1366px;
  font-size: 18px;
  font-family: "Montserrat", "Verdana", sans-serif;
  font-weight: 400;
  line-height: 20px;
  color: $color-default-white;

  @media (max-width: $tablet-width) {
    min-width: 768px;
  }

  @media (max-width: $mobile-width) {
    min-width: 320px;
  }
}

.page__body-overlay {
  overflow-y: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: $color-overlay-background;
  }
}

.page__header {
  background: $color-dark-blue url("../img/background-images/about-background-desktop.jpg") no-repeat center;
  background-size: cover;
  min-height: 650px;
  margin-bottom: 120px;

  @media (min-resolution: 2dppx) and (min-width: $desktop-only) {
    background-image: url("../img/background-images/about-background-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/background-images/about-background-tablet.jpg");
    margin-bottom: 100px;
    min-height: 638px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-images/about-background-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/background-images/about-background-mobile.jpg");
    min-height: 500px;
    margin-bottom: 65px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-images/about-background-mobile@2x.jpg");
    }
  }
}

.page__header-wrapper {
  @media (max-width: $tablet-width) {
    width: auto;
  }

  @media (max-width: $mobile-width) {
    width: auto;
  }
}

.page__about {
  padding: 160px 95px 30px;

  @media (max-width: $tablet-width) {
    padding: 184px 1px 20px;
  }

  @media (max-width: $mobile-width) {
    padding: 109px 0 10px;
  }
}

.page__about h1 {
  margin: 0;
  font-size: 54px;
  line-height: 66px;
  font-weight: 700;
  margin-bottom: 11px;

  @media (max-width: $tablet-width) {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 12px;
  }

  @media (max-width: $mobile-width) {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 11px;
  }
}

.page__about p {
  margin: 0;
  font-size: 20px;
  line-height: 24px;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 22px;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 22px;
  }
}

.page__about--opened-menu h1,
.page__about--opened-menu p {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.page__main {
  flex: 1 0 auto;
}

.page__footer {
  background-color: $color-default-black;
  padding-top: 48px;
  padding-bottom: 46px;

  @media (max-width: $tablet-width) {
    padding: 46px 0;
  }

  @media (max-width: $mobile-width) {
    padding: 39px 0;
  }
}

.page__footer-wrapper {
  display: flex;
  justify-content: flex-start;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    gap: 20px;
  }
}
