.upcoming-cruises {
  margin-bottom: 120px;

  @media (max-width: $tablet-width) {
    margin-bottom: 100px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 65px;
  }
}

.upcoming-cruises h2 {
  margin: 0;
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
  color: $color-default-black;
  text-align: center;
  margin-bottom: 49px;

  @media (max-width: $tablet-width) {
    font-size: 26px;
    line-height: 39px;
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }
}

.upcoming-cruises__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.upcoming-cruises__item {
  display: grid;
  position: relative;
  width: 260px;
  height: 386px;
  line-height: 0;

  @media (max-width: $tablet-width) {
    width: 309px;
  }

  @media (max-width: $mobile-width) {
    width: 270px;
  }
}

.upcoming-cruises__item-wrapper {
  width: 100%;
  grid-area: 1 / 1 / 2 / 2;
}

.upcoming-cruises__item h3 {
  position: absolute;
  bottom: 23px;
  left: 30px;
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;

  @media (max-width: $tablet-width) {
    bottom: 27px;
    left: 34px;
  }

  @media (max-width: $mobile-width) {
    bottom: 17px;
    left: 25px;
  }
}

.upcoming-cruises__item:hover h3,
.upcoming-cruises__item--focused h3 {
  top: 29px;
  left: 25px;
  bottom: auto;
  z-index: 2;

  @media (max-width: $tablet-width) {
    left: 35px;
  }

  @media (max-width: $mobile-width) {
    left: 25px;
  }
}

.upcoming-cruises__item img {
  width: 260px;
  height: 386px;
  background-color: $color-light-blue;

  @media (max-width: $tablet-width) {
    width: 309px;
  }

  @media (max-width: $mobile-width) {
    width: 270px;
  }
}

.upcoming-cruises__description {
  visibility: hidden;
  grid-area: 1 / 1 / 2 / 2;
  background-color: $color-default-black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 69px 25px 35px;
  z-index: 1;

  @media (max-width: $tablet-width) {
    padding-left: 35px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 25px;
  }
}

.upcoming-cruises__item:hover .upcoming-cruises__description,
.upcoming-cruises__description--focused {
  visibility: visible;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.upcoming-cruises__description-list {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.upcoming-cruises__description-detail {
  margin: 0;
  font-weight: 400;
  margin-bottom: 12px;
  color: $color-medium-gray;
}

.upcoming-cruises__description-list-container:last-child .upcoming-cruises__description-detail {
  margin-bottom: 0;
}

.upcoming-cruises__description-button {
  display: block;
  width: 210px;
  min-height: 40px;
  color: $color-default-black;
  background-color: $color-default-white;
  margin-top: auto;
  text-align: center;
  padding: 10px 10px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  text-decoration: none;
  user-select: none;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    width: 239px;
  }

  @media (max-width: $mobile-width) {
    width: 220px;
  }
}
