.upcoming-cruises {
  margin-bottom: 120px;

  @media (max-width: $tablet-width) {
    margin-bottom: 100px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 65px;
  }
}

.upcoming-cruises h2 {
  margin: 0;
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
  color: $color-default-black;
  text-align: center;
  margin-bottom: 49px;

  @media (max-width: $tablet-width) {
    font-size: 26px;
    line-height: 39px;
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }
}

.upcoming-cruises__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  margin-bottom: 4px;
  padding: 0;
  justify-content: center;
}

.upcoming-cruises__item {
  position: relative;
  width: 260px;
  height: 386px;
  line-height: 0;

  @media (min-width: $tablet-width) and (max-width: $desktop-only) {
    width: 22.4%;
    height: auto;
  }

  @media (max-width: $tablet-width) {
    width: 309px;
  }

  @media (max-width: $mobile-width) {
    width: 270px;
  }
}

.upcoming-cruises__item-wrapper {
  width: 100%;
}

.upcoming-cruises__item-wrapper h3 {
  position: absolute;
  bottom: 23px;
  left: 30px;
  margin: 0;
  padding-right: 10px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;

  @media (min-width: $tablet-width) and (max-width: $desktop-only) {
    bottom: 6%;
    left: 11%;
  }

  @media (max-width: $tablet-width) {
    bottom: 27px;
    left: 34px;
  }

  @media (max-width: $mobile-width) {
    bottom: 17px;
    left: 25px;
  }
}

.upcoming-cruises__item img {
  width: 260px;
  height: 386px;
  background-color: $color-light-blue;

  @media (min-width: $tablet-width) and (max-width: $desktop-only) {
    width: 100%;
    height: auto;
  }

  @media (max-width: $tablet-width) {
    width: 309px;
  }

  @media (max-width: $mobile-width) {
    width: 270px;
  }
}

.upcoming-cruises__description {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $color-default-black;
  margin: 0;
  padding: 29px 25px 35px;
  z-index: 1;

  @media (min-width: $tablet-width) and (max-width: $desktop-only) {
    padding: 11% 10% 13%;
  }

  @media (max-width: $tablet-width) {
    padding-left: 35px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 25px;
  }
}

.upcoming-cruises__description h3 {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) and (max-width: $desktop-only) {
    margin-bottom: 7%;
  }
}

.upcoming-cruises__item:hover .upcoming-cruises__description,
.upcoming-cruises__item:focus .upcoming-cruises__description
 {
  visibility: visible;
  display: flex;
  flex-direction: column;
}

.upcoming-cruises__description-list {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.upcoming-cruises__description-detail {
  margin: 0;
  font-weight: 400;
  margin-bottom: 12px;
  color: $color-medium-gray;

  @media (min-width: $tablet-width) and (max-width: $desktop-only) {
    margin-bottom: 6%;
  }
}

.upcoming-cruises__description-list-container:last-child .upcoming-cruises__description-detail {
  margin-bottom: 0;
}

.upcoming-cruises__description-button {
  display: block;
  width: 210px;
  min-height: 40px;
  color: $color-default-black;
  background-color: $color-default-white;
  margin-top: auto;
  text-align: center;
  padding: 10px 10px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  text-decoration: none;
  user-select: none;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.5;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-only) {
    width: auto;
  }

  @media (max-width: $tablet-width) {
    width: 239px;
  }

  @media (max-width: $mobile-width) {
    width: 220px;
  }
}
