// Colors
// ---------------------------------

// Default

$color-default-black:               #011c40;
$color-default-white:               #f9fbfd;

// Project palette

$color-dark-blue:                   #00346b;
$color-light-blue:                  #a8c7ed;
$color-medium-gray:                 #d8d8d9;
$color-overlay-background:          rgba(0, 43, 102, 0.5);
$color-invalid-input:               #e75480;

// Display width

$tablet-width: 1023px;
$mobile-width: 767px;
$desktop-only: 1366px;
